{% extends "home.phtml" %}
{% block content %}

    <div class="container">
        <div class="row pt-2 pb-2">
            <div class="col-6">
                <a class="btn btn-secondary" role="button" href="/content" >
                    Seznam děl
                </a>
                <a class="btn btn-secondary" role="button" href="/text/{{ work.WorkID }}" >
                    Text
                </a>
                <a class="btn btn-secondary" role="button" href="/metadata/{{ work.WorkID }}" >
                    Metadata
                </a>
            </div>
            <div class="dropdown col-6">
                <button class="btn btn-secondary dropdown-toggle float-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/change-password">Změna hesla</a>
                    <a class="dropdown-item" href="/logout">Odhlásit</a>
                </div>
            </div>
        </div>


        <div class="row">
            <h1 class="h1 col-12">Přílohy k: {{ work.Title}}</h1>
        </div>


        <form action="/attachments/{{ work.WorkID }}" method="post" enctype="multipart/form-data">
            <div class="col-10">

                <div class="row">
                    <div class="col-4">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile" name="files[]" multiple>
                            <label class="custom-file-label" for="customFile">Vyberte soubory</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary">Uložit</button>
                    </div>
                </div>


            </div>
        </form>

        <div class="row">
            <div class="col-6">
                <a href="/img/{{ work.WorkID }}" target="_blank">
                    <img src="/images/00051/006_small.jpg" class="img-thumbnail">
                </a>
            </div>
        </div>
    </div>

{% endblock %}