{% extends "home.phtml" %}
{% block content %}

    <div class="container">
        <div class="row pt-2 pb-2">
            <div class="col-6">
                <a class="btn btn-secondary" role="button" href="/content" >
                    Seznam děl
                </a>
                <a class="btn btn-secondary" role="button" href="/text/{{ work.WorkID }}" >
                    Text
                </a>
                <a class="btn btn-secondary" role="button" href="/metadata/{{ work.WorkID }}" >
                    Metadata
                </a>
            </div>
            <div class="dropdown col-6">
                <button class="btn btn-secondary dropdown-toggle float-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/change-password">Změna hesla</a>
                    <a class="dropdown-item" href="/logout">Odhlásit</a>
                </div>
            </div>
        </div>


        <div class="row">
            <h1 class="h1 col-12">Přílohy k: {{ work.Title}}</h1>
        </div>


        <form class="pb-2" action="/attachments/{{ work.WorkID }}" method="post" enctype="multipart/form-data">
            <div class="col-10">

                <div class="row">
                    <div class="col-4">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile" name="files[]" multiple>
                            <label class="custom-file-label" for="customFile">Soubor nevybrán</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary">Uložit</button>
                    </div>
                </div>


            </div>
        </form>

        <div class="row pt-2">
            {% set counter = 1 %}
            {% for el in attachments %}
                <div class="col-4 pb-2">
                    <div class="row">
                        <div class="col-4">
                            <a href="#" onclick="doImgModal({{ counter }})">
                                <img id="myImg{{ counter }}"
                                     src="/images/{{ '%05d'|format(work.WorkID) }}/{{ el.ThumbName }}"
                                     class="img-thumbnail">
                            </a>
                        </div>
                        <div class="col-8">
                            <form method="post" action="/update-attachment/{{ el.ID }}/{{ work.WorkID }}">
                                <div class="pb-1 row">
                                    <div class="col-12">
                                        <span>Pořadí: {{ counter }}</span>
                                    </div>
                                </div>

                                <div class="pb-1 row">
                                    <div class="col-4">
                                        <label class="col-form-label" for="identifier">Poznámka:</label>
                                    </div>
                                    <div class="col-8">
                                        <input class="form-control" id="identifier" name="identifier" value="{{ el.Identifier }}">
                                    </div>
                                </div>

                                <div class="pb-1 row">
                                    <div class="col-6">
                                        <button type="submit" class="btn btn-primary">Upravit</button>
                                    </div>
                                    <div class="col-6 text-right">
                                        <a role="button" class="btn btn-danger" href="/delete-attachment/{{ el.ID }}/{{ work.WorkID }}" onclick="return confirm('Opravdu si přejete smazat {{ el.Filename }}?')">Smazat</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% set counter = counter + 1 %}
            {% endfor %}
        </div>
    </div>

    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <img src="" class="imagepreview" style="width: 100%;" >
                </div>
            </div>
        </div>
    </div>
{% endblock %}