{% extends "home.phtml" %}
{% block content %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/content">Seznam děl <span class="sr-only">(current)</span></a>
                </li>
                {% if newWorkID %}

                    <li class="nav-item active">
                        <a class="nav-link" href="/metadata/{{ work.WorkID }}">Metadata <span class="sr-only">(current)</span></a>
                    </li>
                {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="/list-author-publisher">Seznam autorů a vydavatelů <span class="sr-only">(current)</span></a>
                </li>
                {% endif %}
            </ul>
            <div class="navbar-nav dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/change-password">Změna hesla</a>
                    <a class="dropdown-item" href="/logout">Odhlásit</a>
                </div>
            </div>
        </div>
    </nav>


    <div class="container pt-2">

        <div class="row">
            <h1 class="h1 col-12">{% if newWorkID %}Nový {% if isAuthor %}autor{% elseif isPublisher %}vydavatel{% else %}záznam{% endif %}{% else %}Údaje o: {{ element.Name }} {{ element.LastName }} {{ element.Corporation }}{% endif %}</h1>
        </div>

        <form class="row mb-5 mt-5 justify-content-md-center" method="post" {% if newWorkID %}action={% if isAuthor %}"/new-author/{{ newWorkID }}"{% elseif isPublisher %}"/new-publisher/{{ newWorkID }}"{% else %}"/new-author-publisher"{% endif %} {% endif %}>

            <div class="col-10">

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="name">Jméno</label>
                            <input value="{{ element.Name}}" type="text" class="form-control" id="name" placeholder="Zadejte jméno" name="name">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="lastName">Přijmení</label>
                            <input value="{{ element.LastName}}" type="text" class="form-control" id="lastName" placeholder="Zadejte přijmení" name="lastName">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="corporation">Korporace</label>
                            <input value="{{ element.Corporation}}" type="text" class="form-control" id="corporation" placeholder="Zadejte korporaci" name="corporation">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <div>
                            <label for="pseudonymName">Pseudonym k:</label>
                            <select class="form-control" id="pseudonymName" name="pseudonym">
                                <option value="0">Žádný</option>
                                {% for key, pseudonym in realElements %}
                                    {% set el =  pseudonym.Name ~ ' ' ~ pseudonym.LastName ~ ' ' ~ pseudonym.Corporation %}
                                    {% if el != element.Name ~ ' ' ~ element.LastName ~ ' ' ~ element.Corporation %}<option value="{{ pseudonym.ID }}" {% if el == pseudonymReal %}selected{% endif %}>{% if pseudonym.Name %}{{ pseudonym.Name }} {{ pseudonym.LastName }} {{ pseudonym.Corporation }}{% elseif pseudonym.Corporation %}{{ pseudonym.Corporation }}{% endif %}</option>{% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-md-end">
                    <button type="submit" class="btn btn-primary">Uložit</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}