{% extends "home.phtml" %}
{% block content %}

    <div class="container">
        <div class="row pt-2 pb-2">
            <div class="col-6">
                <a class="btn btn-secondary" role="button" href="/content" >
                    Seznam děl
                </a>
                <a class="btn btn-secondary" role="button" href="{{ goBack }}" >
                    Zpět
                </a>
            </div>
            <div class="dropdown col-6">
                <button class="btn btn-secondary dropdown-toggle float-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/change-password">Změna hesla</a>
                    <a class="dropdown-item" href="/logout">Odhlásit</a>
                </div>
            </div>
        </div>


        <div class="row">
            <h1 class="h1 col-12">{% if workId %}Nový {% if isAuthor %}autor{% else %}vydavatel{% endif %}{% else %}Údaje o: {{ author.Name}}{% endif %}</h1>
        </div>

        <form class="row mb-5 mt-5 justify-content-md-center" method="post" action={% if isAuthor %}"/new-author/{{ workId }}"{% else %}"/new-publisher/{{ workId }}"{% endif %}>

            <div class="col-10">

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="name">{% if isAuthor %}Jméno{% else %}Název{% endif %}</label>
                            <input {% if author.Name %}value="{{ author.Name}}" {% endif %}type="text" class="form-control" id="name" placeholder="{% if isAuthor %}Zadejte jméno autora{% else %}Zadejte název vydavatele{% endif %}" name="name">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="lastName">{% if isAuthor %}Přijmení{% else %}Poznámka{% endif %}</label>
                            <input {% if author.LastName %}value="{{ author.LastName}}" {% endif %}type="text" class="form-control" id="lastName" placeholder="{% if isAuthor %}Zadejte přijmení autora{% else %}Zadejte poznámku{% endif %}" name="lastName">
                        </div>
                    </div>
                </div>

                {% if isAuthor %}
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="corporation">Korporace</label>
                                <input {% if author.Corporation %}value="{{ author.Corporation}}" {% endif %}type="text" class="form-control" id="corporation" placeholder="Zadejte korporaci" name="corporation">
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="row justify-content-md-end">
                    <button type="submit" class="btn btn-primary">Uložit</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}