{% extends "home.phtml" %}
{% block content %}

    <div class="container">
        <div class="row pt-2 pb-2">
            <div class="col-6">
                <a class="btn btn-secondary" role="button" href="/content" >
                    Seznam děl
                </a>
                {% if newWorkID %}
                <a class="btn btn-secondary" role="button" href="/metadata/{{ newWorkID }}" >
                    Metadata
                </a>
                {% else %}
                <a class="btn btn-secondary" role="button" href="/list-author-publisher" >
                    List
                </a>
                {% endif %}
            </div>
            <div class="dropdown col-6">
                <button class="btn btn-secondary dropdown-toggle float-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/change-password">Změna hesla</a>
                    <a class="dropdown-item" href="/logout">Odhlásit</a>
                </div>
            </div>
        </div>


        <div class="row">
            <h1 class="h1 col-12">{% if newWorkID %}Nový {% if isAuthor %}autor{% elseif isPublisher %}vydavatel{% else %}záznam{% endif %}{% else %}Údaje o: {{ element.Name }} {{ element.LastName }} {{ element.Corporation }}{% endif %}</h1>
        </div>

        <form class="row mb-5 mt-5 justify-content-md-center" method="post" {% if newWorkID %}action={% if isAuthor %}"/new-author/{{ newWorkID }}"{% elseif isPublisher %}"/new-publisher/{{ newWorkID }}"{% else %}"/new-author-publisher"{% endif %} {% endif %}>

            <div class="col-10">

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="name">Jméno</label>
                            <input value="{{ element.Name}}" type="text" class="form-control" id="name" placeholder="Zadejte jméno" name="name">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="lastName">Přijmení</label>
                            <input value="{{ element.LastName}}" type="text" class="form-control" id="lastName" placeholder="Zadejte přijmení" name="lastName">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="corporation">Korporace</label>
                            <input value="{{ element.Corporation}}" type="text" class="form-control" id="corporation" placeholder="Zadejte korporaci" name="corporation">
                        </div>
                    </div>
                </div>

                <div class="row justify-content-md-end">
                    <button type="submit" class="btn btn-primary">Uložit</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}