{% extends "home.phtml" %}
{% block content %}




    <div class="container">
        <div class="row justify-content-end">
            <div class="dropdown pt-2 pr-2">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/change-password">Změna hesla</a>
                    <a class="dropdown-item" href="/logout">Odhlásit</a>
                </div>
            </div>
        </div>
        <div class="row">
            <h1 class="h1">Seznam děl</h1>
        </div>
        <div class="row justify-content-center">
            <table id="tableWorks" class="display">
                <thead>
                <tr>
                    <th>Název</th>
                    <th>Autor</th>
                    <th>Rok</th>
                    <th>Status</th>
                    <th>Akce</th>
                    <th>Přílohy</th>
                </tr>
                </thead>
                <tbody>
                {% for key, work in works %}
                    <tr>
                        <td>{{ work.Title }}</td>
                        {#<td>{% for key2, author in  work.Authors %}#}
                                {#{% if loop.first %}#}
                                    {#{{ author[0].Name }} {{ author[0].LastName }}#}
                                    {#{% if loop.first and loop.length > 1 %}#}
                                        {#...#}
                                    {#{% endif %}#}
                                {#{% else %}#}
                                    {#<!--{{ author[0].Name }} {{ author[0].LastName }}-->#}
                                {#{% endif %}#}
                            {#{% endfor %}#}
                        {#</td>#}
                        <td>
                            {{ work.Authors[0][0].Name }} {{ work.Authors[0][0].LastName }}
                            {% if work.Authors|length > 1 %}
                                {#add title to display all authors#}
                                <span data-toggle="tooltip" data-placement="bottom" title="{% for key2, author in  work.Authors %}{% if not loop.first %}{{ author[0].Name }} {{ author[0].LastName }}{% if not loop.last %}; {% endif %}{% endif %}{% endfor %}" >...</span>
                            {% endif %}
                        </td>
                        <td>{{ work.Year }}</td>
                        <td>{{ work.Status }}</td>
                        <td>
                            <a role="button" class="btn btn-primary" href="/metadata/{{ work.WorkID }}">Metadata</a>
                            <a role="button" class="btn btn-primary" href="/text/{{ work.WorkID }}">Text</a>
                            <a role="button" class="btn btn-danger" href="/delete/{{ work.WorkID }}">Smazat</a>
                        </td>
                        <td>
                            <a role="button" class="btn btn-primary" href="/attachment/{{ work.WorkID }}">Přílohy({{ key }})</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}