{% extends "home.phtml" %}
{% block content %}
    <div class="container">
        <div class="row justify-content-end">
            <div class="dropdown pt-2 pr-2">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/change-password">Změna hesla</a>
                    <a class="dropdown-item" href="/logout">Odhlásit</a>
                </div>
            </div>
        </div>

        <div class="row">
            <h1 class="h1 col-12">Seznam děl</h1>
        </div>


        <form class="row mb-5 mt-5" method="post">
            <div class="col-2">
                <h3 class="h3">Filtr:</h3>
            </div>
            <div class="col-8">
                <div class="form-group">
                    <label for="authorsName">Jména autorů:</label>
                    <select multiple class="form-control" id="authorsName" name="authors[]">
                        {% for key, author in authors %}
                            {% set el =  author.Name ~ ' ' ~ author.LastName %}
                            <option {% if el in filterAuthors %}selected{% endif %}>{{ author.Name }} {{ author.LastName }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% if filterYearError %}
                    <div class="row justify-content-md-center">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            Nesprávně zadané datum publikace od do &nbsp;&nbsp;&nbsp;
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                {% endif %}
                <div class="form-inline">
                    <span>Rok vydání</span>
                    <div class="form-group">
                        <label class="ml-2" for="yearFrom">od:</label>
                        <select class="form-control ml-2" id="yearFrom" name="yearFrom">
                            <option>--</option>
                            {% for key, year in years %}
                                <option {% if filterYearFrom == year.Year %}selected{% endif %}>{{ year.Year }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="ml-2" for="yearTo">do:</label>
                        <select class="form-control ml-2" id="yearTo" name="yearTo">
                            <option>--</option>
                            {% for key, year in years %}
                                <option {% if filterYearTo == year.Year %}selected{% endif %}>{{ year.Year }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-check ml-2">
                        <input {% if filterYearUnknown %}checked{% endif %} class="form-check-input" type="checkbox" id="unknownYear" value="1" name="unknownYear">
                        <label class="form-check-label" for="unknownYear">Neznámý rok</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="fulltextSearch">Full-text</label>
                    <input {% if filterFulltext %}value="{{ filterFulltext }}" {% endif %}type="text" class="form-control" id="fulltextSearch" placeholder="Zadejte text" name="fulltext">
                </div>

                <div class="form-check form-check-inline">
                    <input {% if filterNew %}checked{% endif %} type="checkbox" id="newWork" value="1" name="new">
                    <label for="newWork">nové</label>
                </div>
                <div class="form-check form-check-inline">
                    <input {% if filterIncomplete %}checked{% endif %} type="checkbox" id="incompleteWork" value="1" name="incomplete">
                    <label for="incompleteWork">rozděláno</label>
                </div>
                <div class="form-check form-check-inline">
                    <input {% if filterChecked %}checked{% endif %} type="checkbox" id="checkedWork" value="1" name="checked">
                    <label for="checkedWork">zkontrolováno</label>
                </div>
                <div class="form-check form-check-inline">
                    <input {% if filterComplete %}checked{% endif %} type="checkbox" id="completeWork" value="1" name="complete">
                    <label for="completeWork">hotovo</label>
                </div>
            </div>
            <div class="col-2 align-self-end">
                <button type="submit" class="btn btn-primary">Aplikovat filtr</button>
            </div>
            </form>


        <div class="row justify-content-center">
            <table id="tableWorks" class="display">
                <thead>
                <tr>
                    <th>Název</th>
                    <th>Autor</th>
                    <th>Rok</th>
                    <th>Status</th>
                    <th>Akce</th>
                    <th>Přílohy</th>
                </tr>
                </thead>
                <tbody>
                {% for key, work in works %}
                    <tr>
                        <td>{{ work.Title }}</td>
                        <td {% if work.Authors|length > 1 %} data-toggle="tooltip" data-placement="bottom" title="{% for key2, author in  work.Authors %}{% if not loop.first %}{{ author[0].Name }} {{ author[0].LastName }}{% if not loop.last %}; {% endif %}{% endif %}{% endfor %}" {% endif %}>
                            {{ work.Authors[0][0].Name }} {{ work.Authors[0][0].LastName }}
                            {% if work.Authors|length > 1 %}
                                <span>...</span>
                            {% endif %}
                        </td>
                        <td>{% if work.Year == -1 %}neuveden{% else %}{{ work.Year }}{% endif %}</td>
                        <td>{{ work.Status }}</td>
                        <td>
                            <a role="button" class="btn btn-primary" href="/metadata/{{ work.WorkID }}">Metadata</a>
                            <a role="button" class="btn btn-primary" href="/text/{{ work.WorkID }}">Text</a>
                            <a role="button" class="btn btn-danger" href="/delete/{{ work.WorkID }}">Smazat</a>
                        </td>
                        <td>
                            <a role="button" class="btn btn-primary" href="/attachments/{{ work.WorkID }}">Přílohy({{ key }})</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}