{% extends "home.phtml" %}
{% block content %}

    <div class="container">
        <div class="row pt-2 pb-2">
            <div class="col-6">
                <a class="btn btn-secondary" role="button" href="/content" >
                    Seznam děl
                </a>
                <a class="btn btn-secondary" role="button" href="/metadata/{{ work.WorkID }}" >
                    Metadata
                </a>
                <a class="btn btn-secondary" role="button" href="/attachments/{{ work.WorkID }}" >
                    Přílohy
                </a>
            </div>
            <div class="dropdown col-6">
                <button class="btn btn-secondary dropdown-toggle float-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/change-password">Změna hesla</a>
                    <a class="dropdown-item" href="/logout">Odhlásit</a>
                </div>
            </div>
        </div>

        <div class="row">
            <h1 class="h1 col-12">Text k: {{ work.Title}}</h1>
        </div>

        <div class="row justify-content-center">
            {{ work.Content }}
        </div>
    </div>

{% endblock %}