{% extends "home.phtml" %}
{% block content %}

    <div class="container">
        <div class="row pt-2 pb-2">
            <div class="col-6">
                <a class="btn btn-secondary" role="button" href="/content" >
                    Seznam děl
                </a>
                <a class="btn btn-secondary" role="button" href="/metadata/{{ work.WorkID }}" >
                    Metadata
                </a>
                <a class="btn btn-secondary" role="button" href="/attachments/{{ work.WorkID }}" >
                    Přílohy
                </a>
            </div>
            <div class="dropdown col-6">
                <button class="btn btn-secondary dropdown-toggle float-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/change-password">Změna hesla</a>
                    <a class="dropdown-item" href="/logout">Odhlásit</a>
                </div>
            </div>
        </div>

        <div class="row">
            <h1 class="h1 col-12">Text k: {{ work.Title}}</h1>
        </div>

        <div class="row align-items-start">
            <div class="col-9">
                {#<label for="texArea01"></label>#}
                <textarea id="texArea01" data-autoresize rows="2">{{ work.Content }}</textarea>
            </div>
            <div class="col-3">
                <div class="group position-fixed border-black p-3">
                    <div>
                            <a role="button" class="btn btn-primary" href="javascript:;" onclick="doBold()">tučně</a>
                            <a role="button" class="btn btn-primary" href="javascript:;" onclick="doItalic()">kurzíva</a>
                            <a role="button" class="btn btn-primary" href="javascript:;" onclick="doStrofa()">strofa</a>
                    </div>
                    <div class="pt-3">
                        <a role="button" class="btn btn-primary" href="javascript:;" onclick="doPage()">strana</a>
                        <a role="button" class="btn btn-primary" href="javascript:;" onclick="doRow()">řádek</a>
                        <a role="button" class="btn btn-primary" href="javascript:;" onclick="doBrakeline()">zalomit</a>
                    </div>
                    <div class="pt-3">
                        <a role="button" class="btn btn-primary" href="javascript:;" onclick="doQuotes()">uvozovky</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}