{% extends "home.phtml" %}
{% block content %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/content">Seznam děl <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/list-author-publisher">Seznam autorů a vydavatelů <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/new-author-publisher">Nový autor<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/new-work">Nové dílo<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <div class="navbar-nav dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        {% if role == 'admin' %}<a class="dropdown-item" href="/add-user">Přidat uživatele</a>{% endif %}
                        <a class="dropdown-item" href="/change-password">Změna hesla</a>
                        <a class="dropdown-item" href="/logout">Odhlásit</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container pt-2">

        <div class="row">
            <h1 class="h1 col-12">Seznam uživatelů</h1>
        </div>

        <div class="row justify-content-center pt-2">
            <table id="tableListUsers" class="display" style="width:100%">
                <thead>
                <tr>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Akce</th>
                </tr>
                </thead>
                <tbody>
                {% for el in elements %}
                    <tr>
                        <td{% if el.UserEmail|length > 25 %} data-toggle="tooltip" data-placement="bottom" title="{{ el.UserEmail }}" {% endif %}> {{ el.UserEmail|length > 25 ? el.UserEmail|slice(0, 25) ~ ' ...' : el.UserEmail }}</td>
                        <td>{{ el.Role }}</td>
                        <td>
                            {% if role == 'admin' %}
                                {% if user == el.UserEmail %}
                                    <a href="javascript:;" role="button" class="btn btn-danger" onclick="alert('Nemůžete smazat sám sebe, prosím oslovte admina pro tuto akci.')">Smazat</a>
                                {% else %}
                                    <a href="/delete-user/{{ el.UserID }}" role="button" class="btn btn-danger" onclick="return confirm('Opravdu si přejete smazat {{ el.UserEmail }}?')">Smazat</a>
                                {% endif %}
                            {% else %}
                                {% if user == el.UserEmail %}
                                    <a href="javascript:;" role="button" class="btn btn-danger" onclick="alert('Nemůžete smazat sám sebe, prosím oslovte admina pro tuto akci.')">Smazat</a>
                                {% else %}
                                    {% if el.Role == 'admin' %}
                                        <a href="javascript:;" role="button" class="btn btn-danger" onclick="alert('Nemáte pravomoce na smazání toho uživatele.')">Smazat</a>
                                    {% else %}
                                        <a href="/delete-user/{{ el.UserID }}" role="button" class="btn btn-danger" onclick="return confirm('Opravdu si přejete smazat {{ el.UserEmail }}?')">Smazat</a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}